body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-align: justify;
  line-height: 25px;
  padding: 1rem;
  margin: 0.5em;
}
h1, h2, h3, h4, h5 {
  text-align:center;
  line-height: 25px;
}
em {
  font: italic 1.2em "Fira Sans", serif red;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: #5900D6;
}
ul {
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  padding: 8px;
  background-color: #aba8a8;
  float: left;
}

/* Blog Post Cards */
/* Square Card */
.article-body p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-content.fixed p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-content {
  display: inline-block;
  vertical-align: top;
  background-color: #f6f6f6;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 1rem;
  line-height: 1.4;
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.card {
  position: relative;
  width: 240px;
  min-height: 300px;
  background-color: #D27FFF;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  float: left;
  color: black;

  time {
    font-size: 14px;
    opacity: 0.8;
    display: block;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
  .card-meta {
    overflow: auto;
    margin-top: auto;
  }
  img {
    float: left;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
    border: 3px solid #fff;
    border-radius: 4px;
  }
  .author {
    float: left;
    
    span {
      font-size: 13px;
    }
  }
}  
/********************/
.card--fixed {
  .card-meta {
    display: flex;
  }
}
.card--fixed2 {
  .author {
    float: none;
  }
}
/********************/

/* Round Card */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.imgCard2 {
  border-radius: 5px 5px 0 0;
}
.containerCard {
  padding: 2px 16px;
}
/* Linear Gradient - Top to Bottom */
#grad1 {
  height: 250px;
  background-color: white; 
  /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}
/* Error Message */
.error {color: #FF0000;}

/*  Mobile first */
.parent {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}
.box {
  background-color: lightgray;
}
/* row start/ column start/ row end/ column end */
.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.sidebar {
  grid-area: sd;
}
.content {
  grid-area: main;
}
/* Larger Screens */
@media (min-width: 900px;) {
  .parent {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
   grid-column-gap: 10px;
    grid-row-gap: 10px; 
  }
}
/* Buttons here */
.button {
  background-color: yellow; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2 {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  background-image: 
    -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: 
    -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: 
    -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: 
    linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  -moz-background-size:  250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/* Read More and Less Button */
#more {display: none;}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Back to Top Button here */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Subscribe Form here */
form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.containerForm {
  padding: 20px;
  background-color: #D27FFF;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #1ABC9C;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* Flexbox Responsive */
* {
  box-sizing: border-box;
}

/* Style the body, if needed */

/* Header/logo Title */
.note {
  background: yellow;
  padding: 5px;
}
.head {
  padding: 60px;
  text-align: center;
  background-color: #1ABC9C;
  background-image: linear-gradient(red, yellow);
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #7D22FF;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake Image placeholder boxes */
.fakeimgMain {
  background-color: #5900D6;
  color: white;
  width: 100%;
  padding: 20px;
  height:200px;
}
.fakeimgThumbnail {
  background-color: #5900D6;
  color: white;
  width: 100%;
  padding: 20px;
  height:60px;
}

/* Footer */
.foot {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

/* Social Site Logos */
/* Square Logos */
.fa  {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover, .faRound:hover {
  opacity: 0.7;
}

/* Round Logos */
.faRound {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; 
  border-radius: 50%; 
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float: left;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  float: left;
}

.fa-github {
  background: #0c0c0c;
  color: white;
  float: left;
}

.fa-google {
  background: #dd4b39;
  color: white;
  float: left;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  float: left;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  float: left;
}

.fa-instagram {
  background: #125688;
  color: white;
  float: left;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  float: left;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: left;
}

.fa-skype {
  background: #00aff0;
  color: white;
  float: left;
}

.fa-android {
  background: #a4c639;
  color: white;
  float: left;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
  float: left;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
  float: left;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
  float: left;
}

.fa-vine {
  background: #00b489;
  color: white;
  float: left;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
  float: left;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
  float: left;
}

.fa-flickr {
  background: #f40083;
  color: white;
  float: left;
}

.fa-yahoo {
  background: #430297;
  color: white;
  float: left;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
  float: left;
}

.fa-reddit {
  background: #ff5700;
  color: white;
  float: left;
}

.fa-rss {
  background: #ff6600;
  color: white;
  float: left;
}
