/* Complicated Blog Post Cards:
use "ticket" instead of "card"  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.article-body p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-content.fixed p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-content {
  display: inline-block;
  vertical-align: top;
  background-color: #f6f6f6;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 1rem;
  line-height: 1.4;
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.ticket {
  position: relative;
  width: 240px;
  min-height: 300px;
  background-color: #D27FFF;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  float: left;
  color: black;

  time {
    font-size: 13px;
    opacity: 0.8;
    display: block;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
  .ticket-meta {
    overflow: auto;
    margin-top: auto;
    display: flex; 
  }
  img {
    float: left;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 1rem;
    border: 3px solid #fff;
    border-radius: 4px;
  }
  .author {
    float: left;
    
    span {
      font-size: 12px;
    }
  }
}  

.ticket--fixed {
  .ticket-meta {
    display: flex;
  }
}
.ticket--fixed2 {
  .author {
    float: none;
  }
}
