/*  Mobile first */
.parent {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}
.box {
  background-color: lightgray;
}
/* row start/ column start/ row end/ column end */
.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.sidebar {
  grid-area: sd;
}
.content {
  grid-area: main;
}
/* Mobile First
(from YouTube) */
@media only screen and (max-width: 425px;) {
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 20px 10px;
  }
  .card-body {
    padding: 10px;
  }
  .card-title {
    font-size: 18px;
    padding-bottom: 7px;
  }
  .card-body p {
    font-size: 14px;
  }
  .read_more a {
    padding: 10px 0;
    width: 50%;
    font-size: 11px;
    margin-top: 7px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width:1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1441px) {
  .container {
    max-width: 90%;
  }
}
/* Larger Screens */
@media (min-width: 900px;) {
  .parent {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
   grid-column-gap: 10px;
    grid-row-gap: 10px; 
  }
}