@import url("cards.css");
@import url("queries.css");
 /* @import url("buttons.css"); */
@import url("logos.css");
@import url("forms.css");
@import url("flex-grid.css");
@import url("navbar.css");
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-align: justify;
  line-height: 1.6;
  padding: 1rem;
  margin: 0.5em;
}
h1, h2, h3, h4, h5 {
  text-align:center;
  line-height: 1.6;
}
em {
  font: italic 1.2em "Fira Sans", serif;
  color: red;
}
u { color: #09d3aa;}
b { 
  font-weight: 900;
  color: #f2a007;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-width: 50px;
  background-color: #5900D6; 
}

/* Error Message */
.error {color: #FF0000;}

/* Linear Gradient - Top to Bottom */
#grad1 {
  height: 250px;
  background-color: white; 
  /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}

/* Images */
img {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5900D6;
  border: 10px solid orangered;
}

/* Center Align Header text */
.center_head {
  margin: auto;
  padding: 70px 0;
  width: 50%;
  text-align: center;
}
